.padding-content {
  padding: 10px;
  margin-top: 8px !important;
  padding-left: 36px;
  padding-right: 15px;
  padding-top: 49px;
  padding-bottom: 28px;
}

h3 {
  color: rgba(0,0,0,0.65);
  font-family: Roboto;
  font-size: 20px;
  line-height: 28px;
}

p {
  margin-bottom: 7px;
  color: rgba(0,0,0,0.65);
  font-family: Roboto;
  font-size: 14px;
  line-height: 22px;
}

.data-time {
  color: rgba(0,0,0,0.45);
  font-family: Roboto;
  font-size: 12px;
  line-height: 22px;
}

.line-vertical-content {
  width: 1px;
  height: 71px;
  background: #DDDDDD;
}

.pencil {
  margin-left: 10px;
}

.menu-horizontal {
  color: #108EE9;
}

.ico-user-menu {
  margin-right: 0 !important;
}

.header-collapse {
  color: rgba(0,0,0,0.85);
  font-family: Roboto;
  font-size: 20px;
  line-height: 24px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 12px 40px 12px 0;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
  left: inherit;
  right: 20px;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.25);
  height: 20px;
  width: 20px;
  line-height: 2;
  color: white;
}

.ant-form-item {
  margin-bottom: 0;
}